body {
    font-family: sans-serif;
}

.container {
    margin: auto;
    text-align: center;
}

#header-left {
    font-size: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    float: left;
    color: purple;
    cursor: pointer;
    border-radius: 5px;
}

#countdown {
    font-size: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    float: right;
}

h1 {
    padding-top: 75px;
}

.button {
    background-color: darkmagenta;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 10px;
    padding: 5px;
    width: 10%;
    align-items: center;

}

.button:hover {
    color: black;
}

#choices {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

  }