body {
    font-family: sans-serif;
}

.container {
    margin: auto;
    text-align: center;
}

#highscore-btn {
    font-size: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    float: left;
    color: purple;
    cursor: pointer;
    border-radius: 5px;
}

#highscore-btn:hover {
    color: white;
    background-color: darkmagenta;
}


#countdown {
    font-size: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    float: right;
}

h1 {
    padding-top: 75px;
}

#quiz {
    margin: auto;
    text-align: center;
    padding: 100px;
}

.button {
    background-color: darkmagenta;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 10%;
}

.button:hover {
    background-color: aliceblue;
    color: purple;
}

#question-title {
    font-weight: bold;
    margin: 25px;
    padding: 20px;
    font-size: 25px;
}

#choices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

#check-answer {
    font-style: italic;
    color: teal;
    padding: 10px;
    font-weight: bold;
}

.hide {
    display: none;
}